@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,700;1,300;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@800&display=swap');

:root {
    --text: #7ebaa7;
    --background: #110425;
    --warn: #db8ea3;
    --error: #f77e4f;

    --font-parragraph: 'Fira Sans', sans-serif;
    --font-headings: 'JetBrains Mono', sans-serif;
    --line-height: calc(1ex / 0.32);
}
html {
    font-size: 100%;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    hanging-punctuation: first last;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
}
*:not(dialog),
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Tipografía */
h1,
h2 {
    font-family: var(--font-headings);
    text-wrap: balance;
}
p {
    max-width: 65ch;
    margin: 0 0 var(--line-height);
    text-wrap: pretty;
    line-height: var(--line-height);
}
b,
strong {
    /* Normaliza el peso de la fuente */
    font-weight: 700;
}
/* Interacción */
a,
button {
    /* Corrige el problema de consistencia del cursor */
    cursor: pointer;
}
input,
textarea,
button,
select {
    /* Corrige la asignación de fuente a los elementos de formulario */
    font: inherit;
}
hr {
    border: none;
    border-bottom: 1px dashed var(--text);
}
img {
    /* reseteo del comportamiento  específico de las imágenes */
    max-inline-size: 100%;
    max-block-size: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    shape-margin: 1rem;
}
/* Secciones */
body {
    font-size: 1rem;
    font-family: var(--font-parragraph);
    background-color: var(--background);
    color: var(--text);
}
ul {
    list-style: none;
    padding: 0;
}

/* Accesibilidad del contenido*/
.hidden,
[hidden] {
    display: none !important;
}
.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
@media (prefers-reduced-motion: reduce) {
    /* Bloquea movimiento y animaciones */
    *,
    *::before,
    *::after {
        transition: none !important;
        animation: none !important;
        scroll-behavior: auto !important;
    }
}
