@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,700;1,300;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@800&display=swap');

:root {
    --text: hsl(339, 36%, 25%);
    --background: hsl(83, 33%, 83%);
    --warn: hsl(34, 67%, 30%);
    --error: hsl(344, 100%, 28%);
    --highlight: hsl(240, 63%, 46%);
    --papper: hsl(0, 100%, 100%);
    --ink: hsl(0, 0%, 0%);

    --font-parragraph: 'Fira Sans', sans-serif;
    --font-headings: 'JetBrains Mono', sans-serif;
    --line-height: calc(1ex / 0.32);
}

body {
    font-size: 1rem;
    font-family: var(--font-parragraph);
    background-color: var(--background);
    color: var(--text);
    margin: 1.5rem 1rem 1rem;

    &:has(:modal[open]) {
        overflow: hidden;
    }
}

ul {
    list-style: none;
    padding: 0;
}

hr {
    border: none;
    border-bottom: 1px dashed var(--text);
}

h1,
h2,
h3,
h4 {
    font-family: var(--font-headings);
    text-wrap: balance;
    line-height: var(--line-height);
}

h1 {
    font-size: 2.625rem;
}

h3 {
    font-style: italic;
}

p {
    max-width: 65ch;
    text-wrap: pretty;
    line-height: var(--line-height);
}

a {
    color: var(--highlight);
}

/* Accesibilidad del contenido */
:focus-visible {
    outline: 1px solid var(--text);
    outline-offset: 3px;
}
