h1 {
    font-size: 2.625rem;
    line-height: 3.2rem;
}
h2,
h3,
p {
    font-size: 1rem;
    line-height: 1.6rem;
}
h3 {
    font-style: italic;
}
h3 .date {
    font-style: italic;
    font-weight: 300;
}
.title {
    font-weight: 800;
}
* {
box-sizing: border-box;
}
form {
  padding: 1rem 2ch;
  border: 1px solid var(--text);
}
input, textarea, button {
  display: block;
  width: 100%;
  margin: 0.5rem 0 1rem;
  padding: 0.5rem;
  background: var(--text);
  color: var(--background);
  border: none;
  border-radius: 0;
}
:focus-visible {
  outline: 1px solid var(--text);
  outline-offset: 3px;
}
